* {
    font-family: 'Courier New', Courier, monospace;
}

.background {
    background-color: coral;
}

.center .title {
    font-size: 45px;
}

.center{
    text-align: center;
}

.center .links {
    font-size: 22px;
}

.cheese {
    text-align: center;
}